ul {
	list-style: none;
	width: 30%;
	margin: auto;
	/* padding: 0; */
	/* z-index: -1; */
	/* position: relative; */
	margin-top: 50px;
}
ul  li{
    padding: 15px;
    border-radius: 3px;
    background: #494b4d;
    margin-bottom: 5px;   
}
.form{
    margin-bottom: 5px;   
    
}
